@import "tailwindcss";

@theme {
  --font-sans: var(--font-neue-montreal), "PP Neue Montreal", "Neue Montreal", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  --font-neue-montreal: var(--font-neue-montreal), "PP Neue Montreal", "Neue Montreal", sans-serif;

  --color-primary: #FE3F39;
  --color-title: #282828;
}

